<br>
<br>
<h4 style="text-align: center"> My Products</h4>

<div class="container">
  <div class="body">
    <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#exampleModal">Add Products</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addProduct="ngForm" (ngSubmit)="addP(addProduct)"  name="addProduct">
              <div>

                  <input type="text" class="form-control" placeholder="Title" name="title" #title="ngModel" ngModel required>
                </div>
                <br>
                <div >
                  <textarea class="form-control" cols="4" rows="5" placeholder="Description" name="description" #description="ngModel" ngModel required></textarea>
                </div>
                <br>
                <div>
                  <input name="image" type="text" class="form-control" placeholder="Image" #image="ngModel" ngModel required>
                </div>

              <div class=" alert-success" *ngIf="succesMessage!=''">{{succesMessage}}</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-success">Add Product</button>
              </div>

            </form>
          </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

<div class="container-fluid">
      <div class="row" >
        <div class="col col-12 col-md-6 col-lg-4 " *ngFor="let item of dataArray">
          <div class="card" style="width: 18rem;" *ngIf="Uid===item.uid">
            <img [src]="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
          <br>
        </div>
      </div>

    </div>
  </div>

